<h3>Comandos a ejecutar</h3>
<form method='post' action='/comandos'>
    <!--<textarea name="caja_de_comandos"></textarea>-->
    <input type="submit" value='correr'>
    <input type="text" id="fname" name="limites">
</form>
<h2>Tamaño de la superficie:</h2>  
<p>
<%= @superficie_x%> <%= @superficie_y%>
</p>
<form method='get' action='/retornar'>
    <input type='submit' value='Retornar'> 
</form>